## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [2]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [4]:
# Your Code Here
for number in range(1,11):
    print(number**2)

1
4
9
16
25
36
49
64
81
100

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [5]:
# Your Code Here
for number in range(2,11,2):
    print(number**2)

4
16
36
64
100

In [8]:
#Trying to do an If statement. 
for number in range(2,11,2):
    if number=={2,4,6,8,10}:
    print(number**2)

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [9]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [10]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [ ]:
squares

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [11]:
# Your Code
total_sum=0
for number in range (2,1001,2):
    total_sum += number**2
    print(total_sum)
#From Sullivan sum(x**2 for x in randge(2,1001,2))

5054
5070
5106
5170
5270
5414
5610
5866
6190
6590
7074
7650
8326
9110
10010
11034
12190
13486
14930
16530
18294
20230
22346
24650
27150
29854
32770
35906
39270
42870
46714
50810
55166
59790
64690
69874
75350
81126
87210
93610
100334
107390
114786
122530
130630
139094
147930
157146
166750
176750
187154
197970
209206
220870
232970
245514
258510
271966
285890
300290
315174
330550
346426
362810
379710
397134
415090
433586
452630
472230
492394
513130
534446
556350
578850
601954
625670
650006
674970
700570
726814
753710
781266
809490
838390
867974
898250
929226
960910
993310
1026434
1060290
1094886
1130230
1166330
1203194
1240830
1279246
1318450
1358450
1399254
1440870
1483306
1526570
1570670
1615614
1661410
1708066
1755590
1803990
1853274
1903450
1954526
2006510
2059410
2113234
2167990
2223686
2280330
2337930
2396494
2456030
2516546
2578050
2640550
2704054
2768570
2834106
2900670
2968270
3036914
3106610
3177366
3249190
3322090
3396074
3471150
3547326
3624610
3703010
3782534
3863190
3944986
4027930
4112030
4197294
4283730
4371346
4460150
4550150
4641354
4733770
4827406
4922270
5018370
5115714
5214310
5314166
5415290
5517690
5621374
5726350
5832626
5940210
6049110
6159334
6270890
6383786
6498030
6613630
6730594
6848930
6968646
7089750
7212250
7336154
7461470
7588206
7716370
7845970
7977014
8109510
8243466
8378890
8515790
8654174
8794050
8935426
9078310
9222710
9368634
9516090
9665086
9815630
9967730
10121394
10276630
10433446
10591850
10751850
10913454
11076670
11241506
11407970
11576070
11745814
11917210
12090266
12264990
12441390
12619474
12799250
12980726
13163910
13348810
13535434
13723790
13913886
14105730
14299330
14494694
14691830
14890746
15091450
15293950
15498254
15704370
15912306
16122070
16333670
16547114
16762410
16979566
17198590
17419490
17642274
17866950
18093526
18322010
18552410
18784734
19018990
19255186
19493330
19733430
19975494
20219530
20465546
20713550
20963550
21215554
21469570
21725606
21983670
22243770
22505914
22770110
23036366
23304690
23575090
23847574
24122150
24398826
24677610
24958510
25241534
25526690
25813986
26103430
26395030
26688794
26984730
27282846
27583150
27885650
28190354
28497270
28806406
29117770
29431370
29747214
30065310
30385666
30708290
31033190
31360374
31689850
32021626
32355710
32692110
33030834
33371890
33715286
34061030
34409130
34759594
35112430
35467646
35825250
36185250
36547654
36912470
37279706
37649370
38021470
38396014
38773010
39152466
39534390
39918790
40305674
40695050
41086926
41481310
41878210
42277634
42679590
43084086
43491130
43900730
44312894
44727630
45144946
45564850
45987350
46412454
46840170
47270506
47703470
48139070
48577314
49018210
49461766
49907990
50356890
50808474
51262750
51719726
52179410
52641810
53106934
53574790
54045386
54518730
54994830
55473694
55955330
56439746
56926950
57416950
57909754
58405370
58903806
59405070
59909170
60416114
60925910
61438566
61954090
62472490
62993774
63517950
64045026
64575010
65107910
65643734
66182490
66724186
67268830
67816430
68366994
68920530
69477046
70036550
70599050
71164554
71733070
72304606
72879170
73456770
74037414
74621110
75207866
75797690
76390590
76986574
77585650
78187826
78793110
79401510
80013034
80627690
81245486
81866430
82490530
83117794
83748230
84381846
85018650
85658650
86301854
86948270
87597906
88250770
88906870
89566214
90228810
90894666
91563790
92236190
92911874
93590850
94273126
94958710
95647610
96339834
97035390
97734286
98436530
99142130
99851094
100563430
101279146
101998250
102720750
103446654
104175970
104908706
105644870
106384470
107127514
107874010
108623966
109377390
110134290
110894674
111658550
112425926
113196810
113971210
114749134
115530590
116315586
117104130
117896230
118691894
119491130
120293946
121100350
121910350
122723954
123541170
124362006
125186470
126014570
126846314
127681710
128520766
129363490
130209890
131059974
131913750
132771226
133632410
134497310
135365934
136238290
137114386
137994230
138877830
139765194
140656330
141551246
142449950
143352450
144258754
145168870
146082806
147000570
147922170
148847614
149776910
150710066
151647090
152587990
153532774
154481450
155434026
156390510
157350910
158315234
159283490
160255686
161231830
162211930
163195994
164184030
165176046
166172050
167172050

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [12]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [13]:
square_number(10)

100

In [14]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [15]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [16]:
absolute_value(2)

2

In [17]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [18]:
# Your Code Here
def collatz(x):
    if x % 2 ==0:
        print(x/2)
    else: 
        print((x*3)+1)
collatz(48)
collatz(37)

24.0
112

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [20]:
import psycopg2

In [21]:
database_name = 'baseball'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [22]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()
#teams.info

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [23]:
# Your Code Here
def get_teams(x):
    return teams[teams['yearid']==x]
get_teams(1990)

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
2047,1990,NL,ATL,ATL,W,6,162,81.0,65,97,...,133.0,0.974,Atlanta Braves,Atlanta-Fulton County Stadium,980129.0,105,106,ATL,ATL,ATL
2048,1990,AL,BAL,BAL,E,5,161,80.0,76,85,...,151.0,0.985,Baltimore Orioles,Memorial Stadium,2415189.0,97,98,BAL,BAL,BAL
2049,1990,AL,BOS,BOS,E,1,162,81.0,88,74,...,154.0,0.980,Boston Red Sox,Fenway Park II,2528986.0,105,105,BOS,BOS,BOS
2050,1990,AL,CAL,ANA,W,4,162,81.0,80,82,...,186.0,0.977,California Angels,Anaheim Stadium,2555688.0,97,97,CAL,CAL,CAL
2051,1990,AL,CHA,CHW,W,2,162,80.0,94,68,...,169.0,0.980,Chicago White Sox,Comiskey Park,2002357.0,98,98,CHW,CHA,CHA
2052,1990,NL,CHN,CHC,E,4,162,81.0,77,85,...,136.0,0.980,Chicago Cubs,Wrigley Field,2243791.0,108,108,CHC,CHN,CHN
2053,1990,NL,CIN,CIN,W,1,162,81.0,91,71,...,126.0,0.983,Cincinnati Reds,Riverfront Stadium,2400892.0,105,105,CIN,CIN,CIN
2054,1990,AL,CLE,CLE,E,4,162,81.0,77,85,...,146.0,0.981,Cleveland Indians,Cleveland Stadium,1225240.0,100,100,CLE,CLE,CLE
2055,1990,AL,DET,DET,E,3,162,81.0,79,83,...,178.0,0.979,Detroit Tigers,Tiger Stadium,1495785.0,101,102,DET,DET,DET
2056,1990,NL,HOU,HOU,W,4,162,81.0,75,87,...,124.0,0.978,Houston Astros,Astrodome,1310927.0,97,98,HOU,HOU,HOU
2057,1990,AL,KCA,KCR,W,6,161,81.0,75,86,...,161.0,0.980,Kansas City Royals,Royals Stadium,2244956.0,98,98,KCR,KCA,KCA
2058,1990,NL,LAN,LAD,W,2,162,81.0,86,76,...,123.0,0.979,Los Angeles Dodgers,Dodger Stadium,3002396.0,98,97,LAD,LAN,LAN
2059,1990,AL,MIN,MIN,W,7,162,81.0,74,88,...,161.0,0.983,Minnesota Twins,Hubert H Humphrey Metrodome,1751584.0,107,107,MIN,MIN,MIN
2060,1990,AL,ML4,MIL,E,6,162,81.0,74,88,...,152.0,0.976,Milwaukee Brewers,County Stadium,1752900.0,99,99,MIL,MIL,MIL
2061,1990,NL,MON,WSN,E,3,162,81.0,85,77,...,134.0,0.982,Montreal Expos,Stade Olympique,1373087.0,96,96,MON,MON,MON
2062,1990,AL,NYA,NYY,E,7,162,81.0,67,95,...,164.0,0.980,New York Yankees,Yankee Stadium II,2006436.0,100,102,NYY,NYA,NYA
2063,1990,NL,NYN,NYM,E,2,162,81.0,91,71,...,107.0,0.978,New York Mets,Shea Stadium,2732745.0,100,99,NYM,NYN,NYN
2064,1990,AL,OAK,OAK,W,1,162,81.0,103,59,...,152.0,0.986,Oakland Athletics,Oakland Coliseum,2900217.0,96,95,OAK,OAK,OAK
2065,1990,NL,PHI,PHI,E,4,162,81.0,77,85,...,150.0,0.981,Philadelphia Phillies,Veterans Stadium,1992484.0,99,100,PHI,PHI,PHI
2066,1990,NL,PIT,PIT,E,1,162,81.0,95,67,...,125.0,0.979,Pittsburgh Pirates,Three Rivers Stadium,2049908.0,96,95,PIT,PIT,PIT
2067,1990,NL,SDN,SDP,W,4,162,81.0,75,87,...,141.0,0.977,San Diego Padres,Jack Murphy Stadium,1856396.0,101,101,SDP,SDN,SDN
2068,1990,AL,SEA,SEA,W,5,162,81.0,77,85,...,152.0,0.979,Seattle Mariners,Kingdome,1509727.0,101,101,SEA,SEA,SEA
2069,1990,NL,SFN,SFG,W,3,162,81.0,85,77,...,148.0,0.983,San Francisco Giants,Candlestick Park,1975528.0,96,96,SFG,SFN,SFN
2070,1990,NL,SLN,STL,E,6,162,81.0,70,92,...,114.0,0.979,St. Louis Cardinals,Busch Stadium II,2573225.0,100,100,STL,SLN,SLN
2071,1990,AL,TEX,TEX,W,3,162,82.0,83,79,...,161.0,0.979,Texas Rangers,Arlington Stadium,2057911.0,100,101,TEX,TEX,TEX
2072,1990,AL,TOR,TOR,E,2,162,81.0,86,76,...,144.0,0.986,Toronto Blue Jays,Skydome,3885284.0,106,105,TOR,TOR,TOR

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [24]:
# Your Code Here 
def get_best_teams(x,n=5,stat='w'):
    year_teams = teams.loc[teams['yearid']==x]
    max_stat= year_teams.nlargest(n,stat)
    return max_stat['name']

In [25]:
get_best_teams(2014, n=3)

2757    Los Angeles Angels of Anaheim
2747                Baltimore Orioles
2774             Washington Nationals
Name: name, dtype: object

In [26]:
#testing
get_best_teams(2002,n=7, stat='l')

2395          Detroit Tigers
2400       Milwaukee Brewers
2412    Tampa Bay Devil Rays
2398      Kansas City Royals
2408        San Diego Padres
2388       Baltimore Orioles
2391            Chicago Cubs
Name: name, dtype: object

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [44]:
# Your Code Here
def get_best_teams(x,n=5,stat='w', y=False):
    year_teams = teams.loc[teams['yearid']==x]
    sort_teams = year_teams.sort_values(stat, ascending=y)
    max_stat= sort_teams.head(n)
    return max_stat['name']

In [45]:
get_best_teams(2014, n=3, stat='era', y=True)

2774    Washington Nationals
2768        Seattle Mariners
2764       Oakland Athletics
Name: name, dtype: object

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [ ]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [ ]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [ ]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [ ]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here