## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [2]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [6]:
# Your Code Here
for number in range(1,11):
    print(number**2)

1
4
9
16
25
36
49
64
81
100

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [8]:
# Your Code Here
for number in range(2,11,2):
    print(number**2)

4
16
36
64
100

In [14]:
#Trying to do an If statement. 
for number in range(2,11,2):
    if number=={2,4,6,8,10}:
    print(number**2)

IndentationError: expected an indented block after 'if' statement on line 2 (2309918212.py, line 3)

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [15]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [16]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [17]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [21]:
# Your Code
total_sum=0
for number in range (2,1001,2):
    total_sum += number**2
    print(total_sum)

4
20
56
120
220
364
560
816
1140
1540
2024
2600
3276
4060
4960
5984
7140
8436
9880
11480
13244
15180
17296
19600
22100
24804
27720
30856
34220
37820
41664
45760
50116
54740
59640
64824
70300
76076
82160
88560
95284
102340
109736
117480
125580
134044
142880
152096
161700
171700
182104
192920
204156
215820
227920
240464
253460
266916
280840
295240
310124
325500
341376
357760
374660
392084
410040
428536
447580
467180
487344
508080
529396
551300
573800
596904
620620
644956
669920
695520
721764
748660
776216
804440
833340
862924
893200
924176
955860
988260
1021384
1055240
1089836
1125180
1161280
1198144
1235780
1274196
1313400
1353400
1394204
1435820
1478256
1521520
1565620
1610564
1656360
1703016
1750540
1798940
1848224
1898400
1949476
2001460
2054360
2108184
2162940
2218636
2275280
2332880
2391444
2450980
2511496
2573000
2635500
2699004
2763520
2829056
2895620
2963220
3031864
3101560
3172316
3244140
3317040
3391024
3466100
3542276
3619560
3697960
3777484
3858140
3939936
4022880
4106980
4192244
4278680
4366296
4455100
4545100
4636304
4728720
4822356
4917220
5013320
5110664
5209260
5309116
5410240
5512640
5616324
5721300
5827576
5935160
6044060
6154284
6265840
6378736
6492980
6608580
6725544
6843880
6963596
7084700
7207200
7331104
7456420
7583156
7711320
7840920
7971964
8104460
8238416
8373840
8510740
8649124
8789000
8930376
9073260
9217660
9363584
9511040
9660036
9810580
9962680
10116344
10271580
10428396
10586800
10746800
10908404
11071620
11236456
11402920
11571020
11740764
11912160
12085216
12259940
12436340
12614424
12794200
12975676
13158860
13343760
13530384
13718740
13908836
14100680
14294280
14489644
14686780
14885696
15086400
15288900
15493204
15699320
15907256
16117020
16328620
16542064
16757360
16974516
17193540
17414440
17637224
17861900
18088476
18316960
18547360
18779684
19013940
19250136
19488280
19728380
19970444
20214480
20460496
20708500
20958500
21210504
21464520
21720556
21978620
22238720
22500864
22765060
23031316
23299640
23570040
23842524
24117100
24393776
24672560
24953460
25236484
25521640
25808936
26098380
26389980
26683744
26979680
27277796
27578100
27880600
28185304
28492220
28801356
29112720
29426320
29742164
30060260
30380616
30703240
31028140
31355324
31684800
32016576
32350660
32687060
33025784
33366840
33710236
34055980
34404080
34754544
35107380
35462596
35820200
36180200
36542604
36907420
37274656
37644320
38016420
38390964
38767960
39147416
39529340
39913740
40300624
40690000
41081876
41476260
41873160
42272584
42674540
43079036
43486080
43895680
44307844
44722580
45139896
45559800
45982300
46407404
46835120
47265456
47698420
48134020
48572264
49013160
49456716
49902940
50351840
50803424
51257700
51714676
52174360
52636760
53101884
53569740
54040336
54513680
54989780
55468644
55950280
56434696
56921900
57411900
57904704
58400320
58898756
59400020
59904120
60411064
60920860
61433516
61949040
62467440
62988724
63512900
64039976
64569960
65102860
65638684
66177440
66719136
67263780
67811380
68361944
68915480
69471996
70031500
70594000
71159504
71728020
72299556
72874120
73451720
74032364
74616060
75202816
75792640
76385540
76981524
77580600
78182776
78788060
79396460
80007984
80622640
81240436
81861380
82485480
83112744
83743180
84376796
85013600
85653600
86296804
86943220
87592856
88245720
88901820
89561164
90223760
90889616
91558740
92231140
92906824
93585800
94268076
94953660
95642560
96334784
97030340
97729236
98431480
99137080
99846044
100558380
101274096
101993200
102715700
103441604
104170920
104903656
105639820
106379420
107122464
107868960
108618916
109372340
110129240
110889624
111653500
112420876
113191760
113966160
114744084
115525540
116310536
117099080
117891180
118686844
119486080
120288896
121095300
121905300
122718904
123536120
124356956
125181420
126009520
126841264
127676660
128515716
129358440
130204840
131054924
131908700
132766176
133627360
134492260
135360884
136233240
137109336
137989180
138872780
139760144
140651280
141546196
142444900
143347400
144253704
145163820
146077756
146995520
147917120
148842564
149771860
150705016
151642040
152582940
153527724
154476400
155428976
156385460
157345860
158310184
159278440
160250636
161226780
162206880
163190944
164178980
165170996
166167000
167167000

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [22]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [23]:
square_number(10)

100

In [24]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [25]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [26]:
absolute_value(2)

2

In [27]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [30]:
# Your Code Here
def collatz(x):
    if x % 2 ==0:
        print(x/2)
    else: 
        print((x*3)+1)
collatz(48)
collatz(37)

24.0
112

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [36]:
database_name = 'baseball'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [ ]:
# Your Code Here

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [ ]:
# Your Code Here

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [ ]:
# Your Code Here

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [ ]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [ ]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [ ]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [ ]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here